<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Distance Matrix Service</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./index.js"></script>
</head>

<body>

<form action="/search" >
    <input name="streetnumberinput" type="search" placeholder="Search street number" required="required" autocomplete="off"/>
    <!-- <i class="material-icons">search</i> -->

</form>

<p th:text= "${originAddressKey.}" ></p>



<div id="container">
    <div id="map"></div>
    <div id="sidebar">
        <h3 style="flex-grow: 0">Request</h3>
        <pre style="flex-grow: 1" id="request"></pre>
        <h3 style="flex-grow: 0">Response</h3>
        <pre style="flex-grow: 1" id="response"></pre>
    </div>
</div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC92D7nxoEuB7-Epx6wBw-iNjdEIELhGkY
&callback=initMap&v=weekly"
        async
></script>
</body>
</html>