<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label for="originAddress">Choose your Origin:</label>
<form th:action="@{/destination}"name="submitAddress" method="post">
    <select id="originAddress" name="originAddress">
        <option value="2401 W Belvedere Ave, Baltimore, MD">2401 W Belvedere Ave, Baltimore, MD</option>
        <option value="5601 Loch Raven Blvd, Baltimore, MD">5601 Loch Raven Blvd, Baltimore, MD</option>
        <option value="900 S Caton Ave, Baltimore, MD">900 S Caton Ave, Baltimore, MD</option>
        <option value="4940 Eastern Ave, Baltimore, MD">4940 Eastern Ave, Baltimore, MD</option>
        <option value="3001 S Hanover St, Baltimore, MD">3001 S Hanover St, Baltimore, MD</option>
        <option value="575 E Ordnance Rd, Glen Burnie, MD">575 E Ordnance Rd, Glen Burnie, MD</option>
        <option value="501 E Pratt St, Baltimore, MD">501 E Pratt St, Baltimore, MD</option>
        <option value="6323 Ritchie Hwy, Glen Burnie, MD">6323 Ritchie Hwy, Glen Burnie, MD</option>
    </select>


<label for="destinationAddress">Choose your Destination:</label>

<select id="destinationAddress" name="destinationAddress">
    <option value="2401 W Belvedere Ave, Baltimore, MD">2401 W Belvedere Ave, Baltimore, MD</option>
    <option value="5601 Loch Raven Blvd, Baltimore, MD">5601 Loch Raven Blvd, Baltimore, MD</option>
    <option value="900 S Caton Ave, Baltimore, MD">900 S Caton Ave, Baltimore, MD</option>
    <option value="4940 Eastern Ave, Baltimore, MD">4940 Eastern Ave, Baltimore, MD</option>
    <option value="3001 S Hanover St, Baltimore, MD">3001 S Hanover St, Baltimore, MD</option>
    <option value="575 E Ordnance Rd, Glen Burnie, MD">575 E Ordnance Rd, Glen Burnie, MD</option>
    <option value="501 E Pratt St, Baltimore, MD">501 E Pratt St, Baltimore, MD</option>
    <option value="6323 Ritchie Hwy, Glen Burnie, MD">6323 Ritchie Hwy, Glen Burnie, MD</option>
</select>
    <input type="submit">
</form>

</body>
</html>